{% macro stache(song) %}
    <div id="{{song['id']}}" class="stache">
        <div>
            <a class="artist_name" href="/artist/{{song['artist_name']}}">{{song['artist_name']}}</a>
        </div>
        {% if song.get('s3_url') %}
            <img src="{{song.get('s3_url')}}" />
        {% else %}
        <script>
            window.staches["{{song['id']}}"] = {{song|tojson|safe}};
        </script>
        {% endif %}
        <div>
            <a class="song_title" href="/song/{{song['id']}}">{{song['title']}}</a>
        </div>
        <div class="buy">Put this stache on
        <a href="/song/{{song['id']}}/buy/shirt" target="_blank">a Shirt</a> or 
        <a href="/song/{{song['id']}}/buy/mug" target="_blank">Mug</a>
        </div>
        <div class="tweet-button">
         <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://mustachiness.ex.fm/song/{{song['id']}}" data-text="If {{song['title']}} by {{song['artist_name']}} were a mustache #Mustachiness" data-count="none" data-via="exfm">Tweet</a>
         <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
    </div>
{% endmacro %}