{% macro stache(song) %}
    <div id="{{song['id']}}" class="stache">
        <div>
            <a class="artist_name" href="/artist/{{song['artist_name']}}">{{song['artist_name']}}</a>
        </div>
        {% if song.get('s3_url') %}
            <img src="{{song.get('s3_url')}}" />
        {% else %}
        <script>
            window.staches["{{song['id']}}"] = {{song|tojson|safe}};
        </script>
        {% endif %}
        <div>
            <a class="song_title" href="/song/{{song['id']}}">{{song['title']}}</a>
        </div>
        <div class="buy">buy: 
        <a href="http://www.zazzle.com/api/create/at-238283152284673545?ref=238283152284673545&amp;ax=linkover&amp;pd=235941910710981976&amp;fwd=productpage&amp;ed=true&amp;stache={{song['s3_url']}}&amp;song={{song['artist_name']}}%20-%20{{song['title']}}" target="_blank">Buy the Shirt</a>
        <a href="http://www.zazzle.com/api/create/at-238283152284673545?ref=238283152284673545&amp;ax=linkover&amp;pd=168445848112028823&amp;fwd=productpage&amp;ed=true&amp;stache={{song['s3_url']}}&amp;title={{song['title']}}&amp;artist={{song['artist_name']}}" target="_blank">Get the Mug</a>
        </div>
    </div>
{% endmacro %}