{% macro stache(song) %}
    <div id="{{song['id']}}" class="stache">
        <div>
            <a class="artist_name" href="/artist/{{song['artist_name']}}">{{song['artist_name']}}</a>
        </div>
        {% if song.get('s3_url') %}
            <img src="{{song.get('s3_url')}}" />
        {% else %}
        <script>
            window.staches["{{song['id']}}"] = {{song|tojson|safe}};
        </script>
        {% endif %}
        <div>
            <a class="song_title" href="/song/{{song['id']}}">{{song['title']}}</a>
        </div>
        <div class="buy">buy:
        <a href="/song/{{song['id']}}/buy/shirt" target="_blank">Buy the Shirt</a>
        <a href="/song/{{song['id']}}/buy/mug" target="_blank">Get the Mug</a>
        </div>
    </div>
{% endmacro %}