{% extends "base.html" %}
{% from "_helpers.html" import stache %}
{% block body %}
    <h2>About</h2>
    <p>
        This is project for <a href="http://wiki.musichackday.org/index.php?title=Mustachiness">Music Hackday Boston 2011</a>.
    </p>
    <h2>How the Mustache-otron Works</h2>
    <p>
        For each song, the peak loudness per segment is pulled from the echo nest audio analysis to create the wave form.  The following factors determine the mustaches final look in a very scientifical fashion:
    </p>
    <ol>
        <li><strong>Curviness</strong> - Curves occur when high loudness deltas are detected</li>
        <li><strong>Thickness</strong> - Mean loudness</li>
        <li><strong>Divot</strong> - (aka gap in the middle) hotness of the song</li>
        <li><strong>Direction</strong> - Up = higher energy; Down = lower energy</li>
        <li><strong>Curl</strong> - Dancability * energy</li>
        <li><strong>Color</strong> - Energy of the song.  Lower energy is darker</li>
    </ol>
    <h2>Credits</h2>
    <img src="/static/images/lastfm.jpg" />
    <img src="/static/images/echo.jpg" />
    <img src="/static/images/mhd.jpg" />
    <img src="/static/images/exfm.jpg" />
{% endblock %}