{% extends "base.html" %}
{% from "_helpers.html" import stache %}
{% block body %}
    {{stache(song)}}
    <h2>Similar Songs</h2>
    {% for song in songs %}
        {{stache(song)}}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <h4>Buy a Tshirt</h4>
    <a href="http://www.zazzle.com/api/create/at-238283152284673545?ref=238283152284673545&amp;ax=linkover&amp;pd=235941910710981976&amp;fwd=productpage&amp;ed=true&amp;stache=http://mustachiness.ex.fm/static/images/example-stache.jpg&amp;song={{song['artist_name']}}%20-%20{{song['title']}}">Buy shirt</a>
{% endblock %}